html {
  margin: 0;
  padding: 0;
  /* background-color: white; */
  background-image: url('diagonal-squares.png');
}

body {
  margin: 0 auto;
  text-align: center;
  color: white;
}

canvas {
  /* display: block; */
  margin: 0 auto;
  display: block;
  /* top: 0; */
  /* left: 0; */
  position: relative;
  z-index: -1;
}

h1 {
  margin: 10px auto;
  padding-top: 15px;
  text-align: center;
}

p {
  margin: 10px auto;
  text-align: center;
}

.background {
  background-color:#757472;
  width: 500px;
  height: 100px;
  margin: 0 auto;
}

#row {
  display: flex;
}

#left {
  flex: 20%;
  padding: 10px;
  margin-left: auto;
  padding-top: 80px;
}

#right {
  flex: 62%;
  padding: 10px;
  margin-right: auto;
  padding-top: 80px;
}
